<div id="name"> <% @user ||= current_user %> </div>
<div class="stats">
  <a href="<%= followers_user_path(@user) %>">
    <h4 class="stat">
      <%= @user.followers.count %> fans of <%= @user.firstname %>'s product recommendations
    </strong>
  </a>
</div>
