<% provide(:title, 'Edit Product') %>
<% provide(:button_text, 'Save changes') %>
<h1 id="productupdate">Update your Product</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/product_form' %>
  </div>
</div>
